@{
    ViewBag.Title = "_musicPlayer";
}

<h2>_musicPlayer</h2>

<audio id="musicPlayer" controls="controls">
   @*<source src="~/UploadedFiles/Rick Astley - Never Gonna Give You Up.mp3" type="audio/mp3" />*@
    <source src="model.Path" type="audio/mp3"/>
   Navigateur incompatible.
</audio>


